<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher name:</strong>
  <%= @teacher.teacher_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @teacher.Department %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
